// global styles for <a> and <p> tags
$govuk-global-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";

// DPS header
@import "components/dps-header";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
.bapv-session-hightlight {
    background-color: govuk-colour("light-blue");

    .no-bold {
        font-weight: normal;
    }
}
.bapv-month-nav {
    display: flex;
    justify-content: space-between;

    div {
        flex: 1;
        font-weight: bold;
    }
    div:nth-child(2) {
        text-align: center;
    }
    div:last-child {
        text-align: right;
    }
}
.bapv-table {
    width: 100%;
    margin: 0;
    @include govuk-font($size: 19);

    td, th {
        text-align: center;
        padding: govuk-spacing(4);
    }
    th {
        padding-top: 0;
    }
    td {
        color: govuk-colour("mid-grey");

        &.available {
            color: govuk-colour("black");
            font-weight: bold;
        }
        &.selected span {
            display: inline-block;
            color: govuk-colour("white");
            background: govuk-colour("blue");
            padding: 5px;
            border-radius: 50%;
            font-weight: bold;
        }
    }
}
.card-group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
    padding: 0;
}
.card-group__item {
    display: flex;
    list-style-type: none;
    margin-bottom: 0;
}
.card-group__item .card {
    margin-bottom: 25px;
}
.card--clickable {
    border-bottom-width: 5px;
}
.card {
    margin-bottom: 40px;
    background: #fff;
    border: 1px solid #d9dadb;
    position: relative;
    width: 100%;
    padding: 25px;
}
.card__heading {
    margin-top: 0;
    margin-bottom: 15px;
}
.card__description {
    margin-bottom: 0;
}

