{% extends "layout.html" %}

{% block pageTitle %}
  Sign in to your visitor account
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Sign in to your visitor account</h1>

      <form class="form" action="/visitor" method="post">

        {{ govukInput({
          label: {
            text: "Your email"
          },
          classes: "govuk-input--width-10",
          id: "event-name",
          name: "event-name"
        }) }}

        {{ govukInput({
          label: {
            text: "Your password"
          },
          classes: "govuk-input--width-10",
          id: "event-name",
          name: "event-name",
          type: "password"
        }) }}

        {{ govukButton({
          text: "Sign in"
        }) }}

        <p><a href="/">Forgotten your password?</a></p>

      </form>

    </div>
  </div>

{% endblock %}
