{% extends "layout.html" %}

{% block pageTitle %}
  Visitor details
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/start">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">Visitor details</h1>

      <p>You must:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>show ID that matches these details</li>
        <li>be on the prisoner's contact list</li>
        <li>not be banned from visiting the prisoner</li>
      </ul>

      <form action="/prisoner" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        {{ govukInput({
          label: {
            text: "First name"
          },
          id: "event-name",
          name: "event-name"
        }) }}

        {{ govukInput({
          label: {
            text: "Last name"
          },
          id: "event-name",
          name: "event-name"
        }) }}

        {{ govukDateInput({
  id: "passport-issued",
  namePrefix: "passport-issued",
  fieldset: {
    legend: {
      text: "When was your passport issued?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "You must be over 18 to book a visit"
  }
}) }}

        {{ govukInput({
          label: {
            text: "Email address"
          },
          id: "event-name",
          name: "event-name",
  hint: {
    text: "We'll send an email confirmation to this address"
  }
        }) }}

        {{ govukButton({
          text: "Add visitor",
          classes: "govuk-button--secondary"
        }) }}

        {{ govukButton({
  text: "Save and continue"
}) }}

      </form>
    </div>
  </div>

{% endblock %}
