{% extends "../layout_moj.html" %}

{% block pageTitle %}
  Check your answers before creating a new visit time slot
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div style="box-shadow: inset 0 -1px 0 0 #b1b4b6;">
            <p class="govuk-!-padding-bottom-2"><strong>Wayland (HMP)</strong> <a href="#">Change location</a></p>
        </div>

        {{ govukBackLink({
  text: "Back",
  href: "#"
}) }}

<h1 class="govuk-heading-l">Check your answers before creating a new visit time slot</h1>

      <form class="form" action="finish" method="post">

<h2 class="govuk-heading-m">Visit type and location</h2>

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Prison"
      },
      value: {
        text: "Wayland (HMP)"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    },
    {
      key: {
        text: "Type of visit"
      },
      value: {
        text: "Open"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "date of birth"
          }
        ]
      }
    },
    {
      key: {
        text: "Room"
      },
      value: {
        text: "Visits Hall 1"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change (Select room)",
            visuallyHiddenText: "contact information"
          }
        ]
      }
    }
  ]
}) }}

<h2 class="govuk-heading-m">Date and time</h2>

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Date of first visit"
      },
      value: {
        text: "1 November 2021"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "name"
          }
        ]
      }
    },
    {
      key: {
        text: "Start time"
      },
      value: {
        text: "12:00PM"
      },
      actions: {}
    },
    {
      key: {
        text: "End time"
      },
      value: {
        text: "2:00PM"
      },
      actions: {}
    },
    {
      key: {
        text: "Frequency"
      },
      value: {
        text: "Weekly"
      },
      actions: {}
    }
  ]
}) }}

  {{ govukButton({
    text: "Submit"
  }) }}


      </form>

    </div>
  </div>

{% endblock %}
