{% extends "../layout_moj.html" %}

{% block pageTitle %}
  Date and time for new visit slot
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div style="box-shadow: inset 0 -1px 0 0 #b1b4b6;">
            <p class="govuk-!-padding-bottom-2"><strong>Wayland (HMP)</strong> <a href="#">Change location</a></p>
        </div>

        {{ govukBackLink({
  text: "Back",
  href: "#"
}) }}

<h1 class="govuk-heading-l">Date and time for new visit slot</h1>

      <form class="form" action="check" method="post">

{{ govukDateInput({
  id: "passport-issued",
  namePrefix: "passport-issued",
  fieldset: {
    legend: {
      text: "Date of first visit",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--s"
    }
  },
  hint: {
    text: "For example, 12 11 2007"
  }
}) }}



<div class="govuk-form-group">
<fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Start time</legend>
  <div id="passport-issued-hint" class="govuk-hint">For example, 9:30am or 2:55pm</div>
  <div class="govuk-date-input" id="passport-issued">
    <div class="govuk-date-input__item">
      <div class="govuk-form-group">
        <label class="govuk-label govuk-date-input__label" for="passport-issued-day">Hour</label>
      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric">
      </div>
    </div>
    <div class="govuk-date-input__item">
      <div class="govuk-form-group">
        <label class="govuk-label govuk-date-input__label" for="passport-issued-month">Minute</label>
      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric">
      </div>
    </div>
    <div class="govuk-date-input__item">
        <div class="govuk-form-group">
        <label class="govuk-label" for="sort">am or pm</label>
        <select class="govuk-select" id="sort" name="sort">
            <option value="published">am</option>
            <option value="updated">pm</option>
        </select>
        </div>
    </div>
  </div>
</fieldset>
</div>


<div class="govuk-form-group">
<fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">End time</legend>
  <div id="passport-issued-hint" class="govuk-hint">For example, 9:30am or 2:55pm</div>
  <div class="govuk-date-input" id="passport-issued">
    <div class="govuk-date-input__item">
      <div class="govuk-form-group">
        <label class="govuk-label govuk-date-input__label" for="passport-issued-day">Hour</label>
      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" pattern="[0-9]*" inputmode="numeric">
      </div>
    </div>
    <div class="govuk-date-input__item">
      <div class="govuk-form-group">
        <label class="govuk-label govuk-date-input__label" for="passport-issued-month">Minute</label>
      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" pattern="[0-9]*" inputmode="numeric">
      </div>
    </div>
    <div class="govuk-date-input__item">
        <div class="govuk-form-group">
        <label class="govuk-label" for="sort">am or pm</label>
        <select class="govuk-select" id="sort" name="sort">
            <option value="published">am</option>
            <option value="updated">pm</option>
        </select>
        </div>
    </div>
  </div>
</fieldset>
</div>

{{ govukSelect({
  id: "sort",
  name: "sort",
  label: {
    text: "Frequency"
  },
  items: [
    {
      value: "published",
      text: "Daily"
    },
    {
      value: "updated",
      text: "Weekly"
    },
    {
      value: "views",
      text: "Monthly"
    },
    {
      value: "comments",
      text: "Single event"
    }
  ]
}) }}


  {{ govukButton({
    text: "Continue"
  }) }}


      </form>

    </div>
  </div>

{% endblock %}
