{% extends "../layout_moj.html" %}

{% block pageTitle %}
  Choose the type of visit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div style="box-shadow: inset 0 -1px 0 0 #b1b4b6;">
            <p class="govuk-!-padding-bottom-2"><strong>Wayland (HMP)</strong> <a href="changecaseload">Change location</a></p>
        </div>

        {{ govukBackLink({
  text: "Back",
  href: "#"
}) }}
<h1 class="govuk-heading-l">Wayland (HMP) prison schedule</h1>
    </div>
    <div  class="govuk-grid-column-one-quarter">
    <p class="govuk-body">Filters <a style="float: right;"  href="#">Clear all filters</a></p>

{{ govukAccordion({
  id: "accordion-default",
  classes: "govuk-heading-s",
  items: [
    {
      heading: {
        text: "Time"
      },
      content: {
        html: "<p class='govuk-body'>Times</p>"
      }
    },
    {
      heading: {
        text: "Visit types"
      },
      content: {
        html: "<div class='govuk-form-group'><fieldset class='govuk-fieldset' aria-describedby='waste-hint'><div class='govuk-checkboxes'><div class='govuk-checkboxes__item'><input class='govuk-checkboxes__input' id='visit' name='visit' type='checkbox' value='open'><label class='govuk-label govuk-checkboxes__label' for='waste'>Open</label></div><div class='govuk-checkboxes__item'><input class='govuk-checkboxes__input' id='visit-2' name='visit' type='checkbox' value='closed'><label class='govuk-label govuk-checkboxes__label' for='waste-2'>Closed</label></div></div></fieldset></div>"
      }
    },
    {
      heading: {
        text: "Session status"
      },
      content: {
        html: "<div class='govuk-form-group'><fieldset class='govuk-fieldset' aria-describedby='waste-hint'><div class='govuk-checkboxes'><div class='govuk-checkboxes__item'><input class='govuk-checkboxes__input' id='session' name='session' type='checkbox' value='active'><label class='govuk-label govuk-checkboxes__label' for='session'>Active</label></div><div class='govuk-checkboxes__item'><input class='govuk-checkboxes__input' id='session-2' name='session' type='checkbox' value='inactive'><label class='govuk-label govuk-checkboxes__label' for='session-2'>Inactive</label></div></div></fieldset></div>"
      },
      expanded: true
    }
  ]
}) }}
    </div>
    <div  class="govuk-grid-column-three-quarters">

{{ govukTable({
  attributes: {
    'data-module': 'moj-sortable-table'
  },
  head: [
    {
      text: "Day",
      attributes: {
        "aria-sort": "ascending"
      }
    },
    {
      text: "Frequency",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Start time",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "End time",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Visit time",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Room",
      attributes: {
        "aria-sort": "none"
      }
    },
    {
      text: "Capacity",
      attributes: {
        "aria-sort": "none"
      },
      format: "numeric"
    },
    {
      text: "Action",
      attributes: {
        "aria-sort": "none"
      }
    }
  ],
  rows: [
    [
      {
        text: "Monday"
      },
      {
        text: "Weekly"
      },
      {
        text: "10:00am",
        attributes: {
          "data-sort-value": "1000"
        }
      },
      {
        text: "10:29am",
        attributes: {
          "data-sort-value": "1029"
        }
      },
      {
        text: "Open"
      },
      {
        text: "Visit Hall 1"
      },
      {
        text: "135"
      },
      {
        html: "<a href='#'>Change</a>"
      }
    ],
    [
      {
        text: "Monday"
      },
      {
        text: "Weekly"
      },
      {
        text: "3:00pm",
        attributes: {
          "data-sort-value": "1500"
        }
      },
      {
        text: "4:00pm",
        attributes: {
          "data-sort-value": "1600"
        }
      },
      {
        text: "Open"
      },
      {
        text: "Visit Hall 1"
      },
      {
        text: "135"
      },
      {
        html: "<a href='#'>Change</a>"
      }
    ],
    [
      {
        text: "Tuesday"
      },
      {
        text: "Weekly"
      },
      {
        text: "10:00am",
        attributes: {
          "data-sort-value": "1000"
        }
      },
      {
        text: "10:29am",
        attributes: {
          "data-sort-value": "1029"
        }
      },
      {
        text: "Open"
      },
      {
        text: "Visit Hall 1"
      },
      {
        text: "135"
      },
      {
        html: "<a href='#'>Change</a>"
      }
    ],
    [
      {
        text: "Tuesday"
      },
      {
        text: "Weekly"
      },
      {
        text: "2:00pm",
        attributes: {
          "data-sort-value": "1400"
        }
      },
      {
        text: "4:00pm",
        attributes: {
          "data-sort-value": "1600"
        }
      },
      {
        text: "Open"
      },
      {
        text: "Visit Hall 1"
      },
      {
        text: "135"
      },
      {
        html: "<a href='#'>Change</a>"
      }
    ],
    [
      {
        text: "Tuesday"
      },
      {
        text: "Weekly"
      },
      {
        text: "2:00pm",
        attributes: {
          "data-sort-value": "1400"
        }
      },
      {
        text: "2:59pm",
        attributes: {
          "data-sort-value": "1459"
        }
      },
      {
        text: "Closed"
      },
      {
        text: "Room 2"
      },
      {
        text: "18"
      },
      {
        html: "<a href='#'>Change</a>"
      }
    ],
    [
      {
        text: "Tuesday"
      },
      {
        text: "Weekly"
      },
      {
        text: "3:00pm",
        attributes: {
          "data-sort-value": "1500"
        }
      },
      {
        text: "4:00pm",
        attributes: {
          "data-sort-value": "1600"
        }
      },
      {
        text: "Closed"
      },
      {
        text: "Room 2"
      },
      {
        text: "18"
      },
      {
        html: "<a href='#'>Change</a>"
      }
    ],
    [
      {
        text: "Wednesday"
      },
      {
        text: "Weekly"
      },
      {
        text: "10:00am",
        attributes: {
          "data-sort-value": "1000"
        }
      },
      {
        text: "10:29am",
        attributes: {
          "data-sort-value": "1029"
        }
      },
      {
        text: "Open"
      },
      {
        text: "Visit Hall 1"
      },
      {
        text: "135"
      },
      {
        html: "<a href='#'>Change</a>"
      }
    ],
    [
      {
        text: "Wednesday"
      },
      {
        text: "Weekly"
      },
      {
        text: "2:00pm",
        attributes: {
          "data-sort-value": "1400"
        }
      },
      {
        text: "4:00pm",
        attributes: {
          "data-sort-value": "1600"
        }
      },
      {
        text: "Open"
      },
      {
        text: "Visit Hall 1"
      },
      {
        text: "135"
      },
      {
        html: "<a href='#'>Change</a>"
      }
    ],
    [
      {
        text: "Wednesday"
      },
      {
        text: "Weekly"
      },
      {
        text: "2:00pm",
        attributes: {
          "data-sort-value": "1400"
        }
      },
      {
        text: "2:59pm",
        attributes: {
          "data-sort-value": "1459"
        }
      },
      {
        text: "Closed"
      },
      {
        text: "Room 2"
      },
      {
        text: "18"
      },
      {
        html: "<a href='#'>Change</a>"
      }
    ],
    [
      {
        text: "Wednesday"
      },
      {
        text: "Weekly"
      },
      {
        text: "3:00pm",
        attributes: {
          "data-sort-value": "1500"
        }
      },
      {
        text: "4:00pm",
        attributes: {
          "data-sort-value": "1600"
        }
      },
      {
        text: "Closed"
      },
      {
        text: "Room 2"
      },
      {
        text: "18"
      },
      {
        html: "<a href='#'>Change</a>"
      }
    ],
    [
      {
        text: "Thursday"
      },
      {
        text: "Weekly"
      },
      {
        text: "10:00am",
        attributes: {
          "data-sort-value": "1000"
        }
      },
      {
        text: "10:29am",
        attributes: {
          "data-sort-value": "1029"
        }
      },
      {
        text: "Open"
      },
      {
        text: "Visit Hall 1"
      },
      {
        text: "135"
      },
      {
        html: "<a href='#'>Change</a>"
      }
    ],
    [
      {
        text: "Thursday"
      },
      {
        text: "Weekly"
      },
      {
        text: "2:00pm",
        attributes: {
          "data-sort-value": "1400"
        }
      },
      {
        text: "4:00pm",
        attributes: {
          "data-sort-value": "1600"
        }
      },
      {
        text: "Open"
      },
      {
        text: "Visit Hall 1"
      },
      {
        text: "135"
      },
      {
        html: "<a href='#'>Change</a>"
      }
    ],
    [
      {
        text: "Thursday"
      },
      {
        text: "Weekly"
      },
      {
        text: "2:00pm",
        attributes: {
          "data-sort-value": "1400"
        }
      },
      {
        text: "2:59pm",
        attributes: {
          "data-sort-value": "1459"
        }
      },
      {
        text: "Closed"
      },
      {
        text: "Room 2"
      },
      {
        text: "18"
      },
      {
        html: "<a href='#'>Change</a>"
      }
    ],
    [
      {
        text: "Thursday"
      },
      {
        text: "Weekly"
      },
      {
        text: "3:00pm",
        attributes: {
          "data-sort-value": "1500"
        }
      },
      {
        text: "4:00pm",
        attributes: {
          "data-sort-value": "1600"
        }
      },
      {
        text: "Closed"
      },
      {
        text: "Room 2"
      },
      {
        text: "18"
      },
      {
        html: "<a href='#'>Change</a>"
      }
    ],
    [
      {
        text: "Friday"
      },
      {
        text: "Weekly"
      },
      {
        text: "10:00am",
        attributes: {
          "data-sort-value": "1000"
        }
      },
      {
        text: "10:29am",
        attributes: {
          "data-sort-value": "1029"
        }
      },
      {
        text: "Open"
      },
      {
        text: "Visit Hall 1"
      },
      {
        text: "135"
      },
      {
        html: "<a href='#'>Change</a>"
      }
    ],
    [
      {
        text: "Friday"
      },
      {
        text: "Weekly"
      },
      {
        text: "2:00pm",
        attributes: {
          "data-sort-value": "1400"
        }
      },
      {
        text: "4:00pm",
        attributes: {
          "data-sort-value": "1600"
        }
      },
      {
        text: "Open"
      },
      {
        text: "Visit Hall 1"
      },
      {
        text: "135"
      },
      {
        html: "<a href='#'>Change</a>"
      }
    ]
  ]
  }) }}

  </div>
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <form class="form" action="typevisit" method="post">
  {{ govukButton({
    text: "Create new visit session"
  }) }}
  </form>
    </div>
</div>

{% endblock %}
