{% extends "layout.html" %}

{% block pageTitle %}
  Check your booking
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">Check your requested booking details</h1>

      <h2 class="govuk-heading-l">Visitor details</h2>

        {{ govukSummaryList({
        rows: [
            {
                key: {
                    text: "Name"
                },
                value: {
                    text: "Sarah Philips"
                },
                actions: {}
            },
            {
                key: {
                    text: "Date of birth"
                },
                value: {
                    text: "5 January 1978"
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "name"
                    }
                    ]
                }
            },
            {
                key: {
                    text: "Home address"
                },
                value: {
                    html: "72 Guild street<br>London<br>SE23 6FH"
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "name"
                    }
                    ]
                }
            },
            {
                key: {
                    text: "Contact details"
                },
                value: {
                    html: "071234 123123<br>jsomewhere@example.com"
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "name"
                    }
                    ]
                }
            }
        ]
        }) }}

      <h2 class="govuk-heading-l">Additional visitor details</h2>

        {{ govukSummaryList({
        rows: [
            {
                key: {
                    text: "Name"
                },
                value: {
                    text: "John Philips"
                },
                actions: {}
            },
            {
                key: {
                    text: "Date of birth"
                },
                value: {
                    text: "1 January 1980"
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "name"
                    }
                    ]
                }
            },
            {
                key: {
                    text: "Home address"
                },
                value: {
                    html: "72 Guild street<br>London<br>SE23 6FH"
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "name"
                    }
                    ]
                }
            },
            {
                key: {
                    text: "Contact details"
                },
                value: {
                    html: "071234 456456<br>jsomewhere2@example.com"
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "name"
                    }
                    ]
                }
            }
        ]
        }) }}

      <h2 class="govuk-heading-l">Additional requirements</h2>

        {{ govukSummaryList({
        rows: [
            {
                key: {
                    text: "Prison"
                },
                value: {
                    text: "Broadmoor"
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "name"
                    }
                    ]
                }
            },
            {
                key: {
                    text: "Name of Prisoner"
                },
                value: {
                    text: "Patrick Bateman"
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "name"
                    }
                    ]
                }
            },
            {
                key: {
                    text: "Date and time of visit"
                },
                value: {
                    text: "5 April 2021, 9:30am"
                },
                actions: {
                    items: [
                    {
                        href: "#",
                        text: "Change",
                        visuallyHiddenText: "name"
                    }
                    ]
                }
            }
        ]
        }) }}


      <h2 class="govuk-heading-l">Now send your application</h2>
      <p>By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>
      <form class="form" action="/visitor" method="post">
        <button class="govuk-button" data-module="govuk-button">Accept and send application</button>

      </form>

    </div>

  </div>
{% endblock %}
