
{% extends "layout.html" %}

{% block pageTitle %}
  Book a Prison Visit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Book a Prison Visit
      </h1>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/start">Start</a>
        </li>
        <li>
          <a href="/check">Check your booking (1)</a>
        </li>
        <li>
          <a href="/check2">Check your booking (2)</a>
        </li>
        <li>
          <a href="/confirmation">Booking confirmation (1)</a>
        </li>
        <li>
          <a href="/confirmation2">Booking confirmation (2)</a>
        </li>
        <li>
          <a href="/signin">Sign in (1)</a>
        </li>
        <li>
          <a href="/signin2">Sign in (2)</a>
        </li>
        <li>
          <a href="/visitor">New visitor</a>
        </li>
        <li>
          <a href="/choose4">Choose a visit (4)</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
