
{% extends "layout.html" %}

{% block pageTitle %}
  Prison Visits Booking Prototypes
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Prison Visits Booking Prototypes
      </h1>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/ffstart">Book a Prison Visit Journey</a>
        </li>
        <li>
          <a href="/cnvssignin">Create New Visit Slot Journey</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
