{% extends "layout.html" %}

{% block pageTitle %}
  Return visitors
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Return visitors</h1>

      <p>Sign in to check progress on a claim or apply without entering.../<p>

      <form class="form" action="/visitor" method="post">

        {{ govukInput({
          label: {
            text: "Reference number"
          },
          id: "event-name",
          name: "event-name"
        }) }}

        {{ govukDetails({
            summaryText: "Where to find o",
            text: "We need to know your nationality so we can work out which elections you’re entitled to vote in. If you cannot provide your nationality, you’ll have to send copies of identity documents through the post."
            }) }}

        <button class="govuk-button" data-module="govuk-button">Sign in</button>

        <p><a href="/">Forgotten your password?</a></p>

      </form>

    </div>
  </div>

{% endblock %}
