{% extends "layout.html" %}

{% block pageTitle %}
  Return visitors
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Return visitors</h1>

      <p>Sign in to check your booking without entering all your information again.</p>

      <p>If you are visiting a different prisoner you'll need to <a href="/">book another visit</a>.</p>

      <form class="form" action="/visitor" method="post">

        {{ govukInput({
          label: {
            text: "Booking reference number"
          },
          id: "event-name",
          name: "event-name",
          hint: {
            text: "For example, P1BOOK3D1"
          }
        }) }}

        {{ govukDetails({
          summaryText: "Where to find your booking reference number",
          html: "<ol class=\"govuk-list govuk-list--bullet\"><li>Check your emails from Book a Prison Visit</li></ol>"
        }) }}

        {{ govukDateInput({
          id: "passport-issued",
          namePrefix: "passport-issued",
          fieldset: {
            legend: {
              text: "Your date of birth",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "For example, 12 11 2007"
          }
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

        <p><a href="/">Forgotten your password?</a></p>

      </form>

    </div>
  </div>

{% endblock %}
